[user]
	email = hassanalinali@gmail.com
  name = Alin Ali Hassan
  # Should add signingKey and gpg sign
  signingKey = ""
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
[core]
  pager = bat
  excludesfile = ~/.gitignore_global
  editor = nvim
[github]
  user = alinalihassan
[hub]
	host = github.com
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
# Include work specific configs
[includeIf "gitdir:~/Developer/Work/"]
  path = "~/.dotfiles/git/work/.gitconfig"
[includeIf "gitdir:~/git_tree/"]
  path = "~/.dotfiles/git/work/.gitconfig"
