[user]
	email = hassanalinali@gmail.com
	name = Alin Ali Hassan
[include]
  path = ~/.dotfiles/git/extra/delta/tokyonight_night.gitconfig
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
[core]
  ; pager = bat
  pager = delta
  excludesfile = ~/.gitignore_global
  editor = nvim
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  line-numbers = true
  hyperlinks = true
  paging = never
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[github]
  user = alinalihassan
[hub]
	host = github.com
[gpg]
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
