[user]
	email = hassanalinali@gmail.com
	name = Alin Ali Hassan
[include]
	path = ~/.config/git/delta/tokyonight_night.gitconfig
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[core]
	pager = delta
	excludesfile = ~/.gitignore_global
	editor = nvim
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	hyperlinks = true
	paging = never
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[github]
	user = alinalihassan
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential
